<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
            <label class="custom-field" for="url_input" class="custom-field one">
              <input id="url_input" type="text" name="url" placeholder=" " />
              <span class="placeholder">Enter URL</span>
            </label>
            <input class="input-submit" type="submit" value="Post URL" />
        </form>
      </section>
    </main>
    <footer>
      <p>By <a target="_blank" href="https://github.com/damasceno-dev/">damasceno.dev</a></p>
    </footer>
  </body>
</html>
